body{
  background-color: #000;
  color:#f5f5f5;
  font-family: 'VT323', monospace;
  font-size:20px;
  line-height:1.5;
}
h1{font-size:1.5rem; padding:0; margin:0;}
h2{font-weight: normal;}
.logon {
  display:grid;
  grid-template:auto/1fr 1fr 1fr;
}
.exit-Btn{
  grid-area: 1/3/1/3;
  place-self: end;
  background-color: #f5f5f5;
  border:1px solid #151515;
  padding:.5em;
  border-radius:50%;
}
.logon-form{
  grid-area:2/1/2/4;
  border:1px solid yellow;
}
.text{
  grid-area:3/1/3/4;
  place-self: center;
  border:1px solid green;
}
label { 
  float: left;
  border:1px solid #fff;
  width:3.5rem;
} 
input{
  font-family:inherit;
  background-color: #000;
  color:#fff;
  border:0;
  font-size: 1.5rem;
  margin-top: .25em;
}
input:focus{
  border:0;
  outline:none;
}