/*/ global-22.css Template v0.0.1 | MIT License | https://github.com/phoenicus-git/22 /*/
/*/ Local Fonts /*/
@font-face{ 
  font-family:"Local"; 
  src: url("../fonts/Comfortaa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display:swap;
}
@font-face{ 
  font-family:"Local"; 
  src: url("../fonts/Comfortaa-Light.woff2") format("woff2");
  font-weight: 300;
  font-display:swap;
}
@font-face{ 
  font-family:"Local"; 
  src: url("../fonts/Comfortaa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display:swap;
}
  :root{
/*/ FONTS /*/
  --ff:"Local", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, monospace;
  --fs:18px;
  }
  *,::before,::after {
    box-sizing: border-box;
  }
  body{
    font-family: var(--ff);
    font-size: var(--fs);
    font-style: normal;
    line-height:1.5;
    margin:0;
    padding:0;
  }
/*/ Main Grids /*/
.grid{
  display:grid;
  grid-template:minmax(100vh, auto)/ auto minmax(auto, 60rem) auto;
  border:1px solid green;
}