/*! cleanser.css v.0.0.1 | MIT License | https://github.com/phoenicus-git/cleanser !*/
/*/ cleanser.css is an opinionated mobile css reset and styling. /*/
/*
 /*
  1. Smooth scroll by the navigation not the user
 */
 html{
  height: 100%;
  scroll-behavior: smooth; /*1*/
  line-height: 1.3;
 }
 body{
  min-height: 100vh;
  min-height:-webkit-fill-available;
  border:1px solid greenyellow;
 }
 /* Remove padding from nav */
 nav :where(ul, ol){
   padding: 0;
 }
 /* 
  1. Remove bullets from lists at nav 
  2. Increase padding so elements will be tap safe
 */
 nav li{
   list-style-type: none; /*1*/
   padding:.35em 0; /*2*/
 }
 h1{
   font-size: 1.9rem;
 }
 strong{
   font-weight: bolder;
 }
 mark{
   padding:0 .1em;
   border-radius:1px;
 }
 q{
   font-style: italic;
 }
 del, ins{
   padding:0 .1em;
   border-radius:1px;
   text-decoration:none;
 }
 del{
   background-color: red;
 }
 del::before{
   content: '-';
   padding:0 .5em;
 }
 ins{
   background-color: greenyellow;
 }
 ins::before{
   content: '+';
   padding:0 .5em;
 }
 blockquote{
   border-left: .1em solid;
   padding:.5em;
 }
 
p, h1, h2, h3, h4, h5, h6 {

overflow-wrap: break-word;

}

