/*! cleanser.css v.0.0.1 | MIT License | https://github.com/phoenicus-git/cleanser !*/
/*/ cleanser.css is an opinionated css reset. /*/
/*
*, ::before, ::after { 
  box-sizing: border-box;
  background-repeat: no-repeat;
}

* {
margin: 0;
padding: 0;
}
:where(:root) {
  line-height: 1.5;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
 }
html, body {
height: 100%;
}
html { 
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
  min-height:-webkit-fill-available;
  -webkit-font-smoothing: antialiased;
}
 
:where(h1) {
   font-size: 2em;
 }
 :where(nav) :where(ol, ul) {
   list-style-type: none;
   padding: 0;
 }
:where(b, strong) {
  font-weight: bolder;
 }
img, video {
  display: block;
  max-width: 100%;
  height:auto;
  aspect-ratio: attr(width) / attr(height);
}

:where(button, input, textarea, select) {
   margin: 0;
   font: inherit;
 }
 :where(pre, code, kbd, samp) {
   font-family: ui-monospace, "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 1em;
 }*/
 *, ::before, ::after{
  box-sizing:box;
  margin:0;
 }
 html{
   height: 100%;
   font-size: calc(0.75em + 1vw);
   line-height: 1.3;
   border:1px solid green;
 }
 body{
  min-height: 100vh;
  min-height:-webkit-fill-available;
  border:1px solid greenyellow;
 }
 /* Remove padding from nav */
 nav :where(ul, ol){
   padding: 0;
 }
 /* 
  1. Remove bullets from lists at nav 
  2. Increase padding so elements will be tap safe
 */
 nav li{
   list-style-type: none; /*1*/
   padding:.35em 0; /*2*/
 }