/*/ single-content.css Template v0.0.1 | MIT License | https://github.com/phoenicus-git/content /*/
/*/ Local Fonts /*/
@font-face{ 
  font-family:"Local"; 
  src: url("../fonts/Comfortaa-Regular.woff2") format("woff2"), url("../fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display:swap;
}
@font-face{ 
  font-family:"Local"; 
  src: url("../fonts/Comfortaa-Light.woff2") format("woff2"), url("../fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: 300;
  font-display:swap;
}
@font-face{ 
  font-family:"Local"; 
  src: url("../fonts/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display:swap;
}
:root{
/*/ FONTS /*/
  --ff:"Local", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --fs:18px;
/*/ Color Palette /*/
  --main:#6868ac;
  --dark:#2d2b50;
  --white:#e8e8f2;
  --shade:#6b6ba7;
  --gold:#dfa654;
  --lh:1.5;/* line height */
}
*,::before,::after {
  box-sizing: border-box;
}
body{
  font-family: var(--ff);
  line-height: var(--lh);
  font-size: var(--fs);
  background: var(--white);
}
h1{
  font-size:1.8rem;
}
h2{
  font-size: 1.6rem;
}
h3{
  font-size: 1.4rem;
}
h4{
  font-size: 1.2rem;
}
h5{
  font-size: 1rem;
}
h6{
  font-size:.8rem;
}
[role="doc-subtitle"] {
  font-size:.9rem;
  text-transform: uppercase;
  margin-top:-1.8rem;
  font-weight: 300;
}
p:first-of-type, h2 + p, h3 + p, h4 + p{
  text-indent:2rem;
}
.grid{
  display:grid;
  grid-template: auto/auto, minmax(auto, 72rem), auto;
}
header{
  grid-area: 1/2/1/2;
}
main{
  grid-area: 2/2/2/2;
  z-index: 1;
  background: var(--white);
}
footer{
  grid-area: 3/2/3/2;
}
/* Header*/
.page-header{
  display:grid;
  grid-template:auto/2fr,1fr;
  position:sticky;
  top:0;
}
.header-logo{
  grid-area: 1/1/1/1;
  align-self:center;
}
.header-links{
  grid-area: 1/2/1/2;
  place-self: end;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
header ul{
  grid-area:1/3/1/3;
  place-self: end;
  margin:0;
  padding:0;
}
header li{
  display:inline-block;
  list-style-type: none;
  font-size: .8rem;
  padding:.7em;
}
header button{
  position: relative;
  float:right;
  cursor:pointer;
  border-radius:50%;
  border:0;
  background: none;
}

/* SVG */
#hidden{
  display:none;
}