/*/ single-content.css Template v0.0.1 | MIT License | https://github.com/phoenicus-git/content /*/
/*/ Local Fonts /*/
@font-face{ 
  font-family:"Local"; 
  src: url("../fonts/Comfortaa-Regular.woff2") format("woff2"), url("../fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display:swap;
}
@font-face{ 
  font-family:"Local"; 
  src: url("../fonts/Comfortaa-Light.woff2") format("woff2"), url("../fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: 300;
  font-display:swap;
}
@font-face{ 
  font-family:"Local"; 
  src: url("../fonts/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display:swap;
}
:root{
/*/ FONTS /*/
  --ff:"Local", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --fs:18px;
/*/ Color Palette /*/
  --main:#6868ac;
  --dark:#2d2b50;
  --white:#e8e8f2;
  --shade:#6b6ba7;
  --gold:#dfa654;
  --lh:1.5;/* line height */
}
*,::before,::after {
  box-sizing: border-box;
}
body{
  font-family: var(--ff);
  line-height: var(--lh);
  font-size: var(--fs);
}
h1{
  font-size:1.8rem;
  line-height: calc(var(--lh)/1.8);
}
h2{
  font-size: 1.6rem;
  line-height: calc(var(--lh)/1.6);
}
h3{
  font-size: 1.4rem;
  line-height:calc(var(--lh)/1.4);
}
h4{
  font-size: 1.2rem;
  line-height: calc(var(--lh)/1.2);
}
h5{
  font-size: 1rem;
  line-height: var(--lh);
}
h6{
  font-size:.8rem;
  line-height: calc(var(--lh)/.8);
}
p{
  word-break: break-all;
  -webkit-hyphens: auto;
  hyphens: auto;
}